<configuration>
    <property name="LOG_PATH" value="logs"/>

    <appender name="FILE_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/LiveXDataWarehouse-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/LiveXDataWarehouse-app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [APP] [%X{requestId:-N/A}] [%X{user:-anonymous}] [%X{httpMethod:-N/A}] [%X{path:-N/A}] [%X{status:-N/A}] [%X{durationMs:-N/A}ms] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/LiveXDataWarehouse-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/LiveXDataWarehouse-audit-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [AUDIT] [%X{requestId:-N/A}] [%X{user:-anonymous}] [%X{httpMethod:-N/A}] [%X{path:-N/A}] [%X{status:-N/A}] [%X{durationMs:-N/A}ms] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_OPS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/LiveXDataWarehouse-ops.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/LiveXDataWarehouse-ops-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [OPS] [%X{requestId:-N/A}] [%X{user:-anonymous}] [%X{httpMethod:-N/A}] [%X{path:-N/A}] [%X{status:-N/A}] [%X{durationMs:-N/A}ms] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="at.htlle.freq.audit" level="INFO" additivity="false">
        <appender-ref ref="FILE_AUDIT"/>
    </logger>

    <logger name="at.htlle.freq.infrastructure.lucene" level="INFO" additivity="false">
        <appender-ref ref="FILE_OPS"/>
    </logger>

    <logger name="at.htlle.freq.infrastructure.camel" level="INFO" additivity="false">
        <appender-ref ref="FILE_OPS"/>
    </logger>

    <logger name="at.htlle.freq.web.IndexAdminController" level="INFO" additivity="false">
        <appender-ref ref="FILE_OPS"/>
    </logger>

    <logger name="at.htlle.freq.application" level="INFO" additivity="false">
        <appender-ref ref="FILE_APP"/>
    </logger>

    <logger name="at.htlle.freq.infrastructure" level="INFO" additivity="false">
        <appender-ref ref="FILE_APP"/>
    </logger>

    <logger name="at.htlle.freq.web" level="INFO" additivity="false">
        <appender-ref ref="FILE_APP"/>
    </logger>

    <logger name="at.htlle.freq.domain" level="INFO" additivity="false">
        <appender-ref ref="FILE_APP"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE_APP"/>
    </root>
</configuration>
