<configuration>
    <property name="LOG_PATH" value="logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/LiveXDataWarehouseLogs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/LiveXDataWarehouseLogs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%X{requestId:-N/A}] [%X{user:-anonymous}] [%X{httpMethod:-N/A}] [%X{path:-N/A}] [%X{status:-N/A}] [%X{durationMs:-N/A}ms] %-5level %logger ⇒ %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="at.htlle.freq.application" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="at.htlle.freq.infrastructure" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="at.htlle.freq.web" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="at.htlle.freq.domain" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="at.htlle.freq.audit" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
